:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --title-text-color: #212121;
  --logo-color: #000000;
  --discription-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --white-text-back-color: #ffffff;
  --back-team-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
}

.body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  background-color: var(--white-text-back-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*Header*/

.header {
  border-bottom: 1px solid #ececec;
}

.head-container {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web-header {
  color: var(--logo-color);
}

/* Navigation menu */

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .list-item + .list-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--discription-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms linear;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: "";
  opacity: 1;
  display: block;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  background-size: auto;
  border-radius: 2px;
}

.list-item {
  position: relative;
}

/* List contact */

.list-contact .list-item + .list-item {
  margin-left: 50px;
}

.list-contact {
  display: flex;
  margin-left: auto;
}

.contact-icon {
  margin-right: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--discription-text-color);
  fill: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms linear;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgrounds/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  color: var(--white-text-back-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  color: var(--white-text-back-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}

/*Features*/

.features {
  background-color: var(--white-text-back-color);
}

.features-container {
  padding-top: 94px;
  padding-bottom: 47px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-list .features-item + .features-item {
  margin-left: 30px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  padding: 25px;
  margin-bottom: 30px;
  background-color: var(--back-team-color);
}

.title-features {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.discription-features {
  font-size: 14px;
  line-height: 1.71;
  color: var(--discription-text-color);
}

/*What-are-we-doing*/

.what-we-do {
  background-color: var(--white-text-back-color);
}

.doing-container {
  padding-top: 47px;
  padding-bottom: 94px;
}

.title-chapter {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.img-what-we-do > li > img {
  display: block;
}

.img-what-we-do {
  display: flex;
}

.img-what-we-do .doing-item + .doing-item {
  margin-left: 30px;
}

.doing-item {
  position: relative;
}

.overley-doing {
  position: absolute;
  padding: 27px 10px 27px;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-text-back-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*Our-team*/

.team {
  background-color: var(--back-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.title-team {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.list-team {
  display: flex;
  flex-wrap: wrap;
}

.list-team .team-card + .team-card {
  margin-left: 30px;
}

.item-social-icon:not(:last-child) {
  margin-right: 10px;
}

.team-card {
  width: 270px;
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.description-card {
  padding: 30px 32px 30px;
  text-align: center;
  background-color: var(--white-text-back-color);
  border-radius: 0px 0px 4px 4px;
}

.title-staff {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.staff-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  color: var(--discription-text-color);
}

.list-social-icon {
  display: flex;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-fill-color);

  transition: color 250ms, background-color 250ms linear;
}

.social-container:hover,
.social-container:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-back-color);
}

/*Regular-customers*/

.customers-container {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.customer-list {
  display: flex;
}

.item-customer:not(:last-child) {
  margin-right: 30px;
}

.icon-customer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-fill-color);
}

.icon-customer:focus,
.icon-customer:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/*Footer*/

.footer {
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.logo-foot {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web-footer {
  color: var(--white-text-back-color);
}

.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-str {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-back-color);
}

.foot-address {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  margin-left: 70px;
}

.footer-p {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-back-color);
}

.footer-social-list {
  display: flex;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--white-text-back-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms, background-color 250ms linear;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

/* Projects */

.project-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Filter-button*/

.filter-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.navigation-btn {
  padding: 6px 22px;
  background: var(--back-team-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  color: var(--title-text-color);
  outline: none;
}

.navigation-btn:hover,
.navigation-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-back-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*Portfolio*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.portfolio-link {
  display: block;
  position: relative;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-text-back-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  /* overflow: scroll; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.team-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-descript-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  text-align: start;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-descrintion {
  font-size: 16px;
  line-height: 1.89;
  color: var(--discription-text-color);
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transparent;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
